
<template>
    <div class="container">
        <h1>Add Car</h1>
        <form @submit.prevent="addOrEditCar">
            <div class="form-group">
                <input type="text" v-model="car.brand" placeholder="Brand" pattern=".{2,}" required="true"/>
            </div>
            <div class="form-group">
                <input type="text" v-model="car.model" placeholder="Model" pattern=".{2,}" required="true"/>
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <select v-model="car.year" placeholder="Year" id="year" required="true">
                    <option v-for="year in years" :value="year" :key="year">{{ year }}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="number" v-model="car.maxSpeed" placeholder="Max Speed" />
            </div>
            <div class="form-group">
                <input type="number" v-model="car.numberOfDoors" placeholder="Number of doors" required="true"/>
            </div>
            <div class="form-group">
                <label for="automatic">Is automatic?</label>
                <input type="checkbox" v-model="car.isAutomatic" placeholder="Is automatic?" id="automatic"/>
            </div>
            <div class="form-group">
                <p>Engine</p>
                <label for="diesel">Diesel</label>
                <input type="radio" v-model="car.engine" name="engine" value="Diesel" id="diesel" required="true"/>
                <label for="petrol">Petrol</label>
                <input type="radio" v-model="car.engine" name="engine" value="Petrol" id="petrol" required="true"/>
                <label for="electric">Electric</label>
                <input type="radio" v-model="car.engine" name="engine" value="Electric" id="electric" required="true"/>
                <label for="hybrid">Hybrid</label>
                <input type="radio" v-model="car.engine" name="engine" value="Hybrid" id="hybrid" required="true"/>
            </div>
            <div class="form-group">
                <input type="reset" value="Reset" />
                <button @click.prevent="previewNewCar">Preview</button>
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</template>

<script>
import {carService} from '../services/CarService'
export default {
    data() {
        return {            
            car: {
                brand: '',
                model: '',
                year: '',
                maxSpeed: '',
                numberOfDoors: '',
                isAutomatic: false,
                engine: '',
            },
            years: Array(29).fill(1990).map((n, i) => n + i)
        }
    },
    methods: {
        addOrEditCar() {
            if (!this.car.id) {
                carService.add(this.car).then((response) => {
                    this.$router.push({name: 'cars'});
                }).catch((error) => {
                    console.log(error)
                })
            }
            else {
                carService.edit(this.car).then((response) => {
                    this.$router.push({name: 'cars'});
                }).catch((error) => {
                    console.log(error)
                })
            }
            
        },
        previewNewCar() {
            alert(
                'Brand: ' + this.car.brand + '\n' +
                'Model: ' + this.car.model + '\n' +
                'Year: ' + this.car.year + '\n' +
                'Max Speed: ' + this.car.maxSpeed + '\n' +
                'Number of doors: ' + this.car.numberOfDoors + '\n' +
                'Is automatic: ' + this.car.isAutomatic + '\n' +
                'Engine: ' + this.car.engine
            )
        }
    },
    created() {
       
    },
    beforeRouteEnter(to, from, next) {
        if(to.params.id) {
            carService.get(to.params.id).then((response) => {
                next((vm) => {vm.car = response.data})
            }).catch((error) => {
                console.log(error)
            })
        } else {
            next()
        }
    }
}

</script>