<template>
    <div class="container">
        <h1>Cars</h1>
        <div v-for="car in cars" :key=car.id class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ car.brand }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ car.model }}</h6>
              <p>Year: {{ car.year }}</p>
              <!--<p>Number of doors: {{ car.numberOfDoors }}</p>-->
              <router-link :to="{ name: 'edit-car', params: { id: car.id }}" class="nav-link">EDIT</router-link>
              <button class="btn btn-danger" @click="deleteCar(car)">DELETE</button>
            </div>
          </div>
    </div>
</template>

<script>
import {carService} from '../services/CarService'
export default {
    data() {
        return {
            cars: []
        }
    },
    methods: {
        deleteCar(car) {
            if(confirm('Do you realy want to delete car?')) { 
                carService.delete(car.id).then((response) => {
                    this.cars = this.cars.filter(c => c !== car)
                }).catch((error) => {
                    console.log(error)
                })
            }
        }
    },
    created() {
        carService.getAll().then((response) => {
            this.cars = response.data
            console.log(this.cars)
        }).catch((error) => {
            console.log(error)
        })
    }
}

</script>