<template>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<router-link class="navbar-brand" to="/">CarsApp</router-link>
<div class="navbar-nav">
<router-link :to="{ name: 'cars' }" class="nav-link">Cars</router-link>
<router-link :to="{ name: 'add-car' }" class="nav-link">Add Car</router-link>
</div>
</nav>
</template>

<script>
export default {

}
</script>
